/* Fluid fonts calculated using the Fluid-responsive font-size calculator (Web Semantics UK, 2023) */

/* Darker Grotesque font import */
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;600;900&display=swap");

/* Declare colour variables */
:root {
  --base: #191c24;
  --accent: #189543;
  --carp: #d8af5e;
  --typography: #c279ef;
  --coding: #41afc7;
  --text: #d9d9d9;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;

  background-color: var(--base);

  font-family: "Darker Grotesque", Verdana, Arial, sans-serif;
  font-weight: 600;
  color: var(--text);

  /* prevent overflow from the mouse trailer */
  overflow-x: hidden !important;
}

body#carp,
.carp {
  --accent: var(--carp);
}

body#typography,
.typography {
  --accent: var(--typography);
}

body#coding,
.coding {
  --accent: var(--coding);
}

.accent {
  color: var(--accent);
}

/* General styling */

h1 {
  margin-block: 0;

  color: var(--accent);
  font-size: clamp(6rem, calc(6rem + ((1vw - 0.32rem) * 3.4483)), 8rem);
  line-height: 1;
}

#typography h1,
#reflection h1 {
  font-size: clamp(3rem, calc(3rem + ((1vw - 0.32rem) * 8.6207)), 8rem);
}

h2 {
  margin-bottom: 0;

  font-size: 2.5rem;
  font-weight: 300;
}

h3 {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 300;
}

p, li {
  font-size: 1.5rem;
}

img {
  border-radius: 2rem;

  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);

  width: 100%;

  object-fit: cover;
  object-position: 0 0;
}

a {
  color: var(--text);
  transition: all 0.5s;
}

a:hover {
  filter: drop-shadow(0 0 0.5rem var(--accent));
}

/* Formatting for references */
.references {
  margin-bottom: 1.25rem;
}

.references h3 {
  margin-top: .5rem;
}

.references ul, .references li, .references h4 {
  margin: 0;

  font-size: 1rem;
  font-weight: 300;
}

.references a {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* style the mouse trailer */
#trailer {
  position: fixed;

  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  /* this makes it so you can click content underneath the trailer */
  pointer-events: none;

  width: 0.5rem;
  height: 0.5rem;

  border-radius: 0.25rem;

  background-color: var(--accent);
  color: var(--base);

  font-size: 0;
  line-height: 0;

  z-index: 101;

  opacity: 0;

  transition: all 0.75s, transform 0.15s, font-size 0.25s;
}

body:hover #trailer {
  opacity: 1;
}

#trailer.expanded {
  width: 5rem;
  height: 5rem;

  font-size: 1.25rem;

  border-radius: 2.5rem;
}

/* pad common areas of website */
section,
nav,
body > header,
footer {
  padding-inline: 7rem;
  width: 100%;
}

header {
  padding-top: 7rem;
}

section {
  padding-top: 1rem;
}

/* basic button styling */
button,
a.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 0;

  background-color: var(--accent);
  color: var(--base);
  text-decoration: none;

  transition: all 0.5s;
}

*[role="button"],
button,
a.btn {
  cursor: pointer;
}

button:hover,
a.btn:hover {
  filter: brightness(200%);
}

/* lightbox image modal styling */
.modal {
  position: fixed;

  top: 0;

  width: 100vw;
  height: 100vh;

  z-index: 100;

  display: none;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.75);

  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
}

.modal[open="true"] {
  display: flex;
  flex-direction: column;
}

.modal img {
  height: auto;
  max-height: 80vh;
  width: auto;
  max-width: 80vw;
}

.modal p {
  margin-block: 0.5rem;

  color: var(--accent);
}

/* desktop navbar */
.burger {
  display: none;
}

nav {
  position: fixed;
  top: 0;
  z-index: 3;

  display: flex;
  justify-content: end;

  background-color: var(--base);

  font-size: 1.5rem;
}

nav > ul {
  display: flex;

  list-style-type: none;
}

nav li {
  margin-left: 3.25em;
}

nav li a {
  text-decoration: none;
}

nav li a:visited {
  color: var(--text);
}

nav li a[aria-current="page"] {
  color: var(--accent);
}

nav li a[aria-current="page"]:hover {
  filter: none;
}

/* footer styling */
footer {
  border-top: 1px var(--text) solid;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 7rem;
  padding-block: 2rem;

  height: auto;
}

footer p:last-of-type {
  font-weight: 300;
}

/* homepage styling */

/* header */
header#hero {
  position: relative;

  padding-top: 0;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  height: 100svh;
  height: 100vh;
}

/* The h1 is hidden from the viewer, but included for the screen-reader in the desktop view */
header#hero h1 {
  font-size: 0;
}

/* header text is placed in a grid */
header#hero .text-grid {
  display: grid;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
}

header#hero .text-grid p {
  margin: 0;
  grid-column: 1 / span 12;
  grid-row: 4;

  font-size: 4rem;
  font-weight: 300;
}

header#hero .text-grid a.btn {
  grid-column: 6 / span 5;
  grid-row: 2;
  align-self: end;

  border-radius: 2rem;

  padding: 1rem 2rem 1.25rem 2rem;
  margin-bottom: 0.5rem;

  font-size: 1.5rem;
  font-weight: 600;
}

header#hero .text-grid p[aria-label="graphic and web design studio"] {
  display: block;

  font-size: clamp(6.5rem, calc(6.5rem + ((1vw - 0.64rem) * 5.7692)), 8rem);
  font-weight: 900;
  line-height: 92.2%;
}

header#hero
  .text-grid
  p[aria-label="graphic and web design studio"]:nth-of-type(1) {
  grid-column: 1 / span 12;
  grid-row: 1;
}

header#hero
  .text-grid
  p[aria-label="graphic and web design studio"]:nth-of-type(2) {
  grid-column: 2 / span 3;
  grid-row: 2;
}

header#hero
  .text-grid
  p[aria-label="graphic and web design studio"]:nth-of-type(3) {
  grid-column: 3 / span 12;
  grid-row: 3;
}

/* position the hero image */
header#hero picture {
  aspect-ratio: 1 / 1;

  display: block;

  position: absolute;

  z-index: -1;

  width: 40%;
  max-width: 25rem;
}

header#hero picture img {
  border-radius: 2rem;

  height: 100%;
  object-position: center center;

  filter: brightness(25%);
}

/* scroll down button */
a.btn[title="scroll down"] {
  position: absolute;

  bottom: .2rem;
  right: .2rem;

  width: 7rem;
  height: 7rem;

  border: 0.1rem var(--accent) solid;
  border-radius: 3.5rem;

  background-color: transparent;
  color: var(--accent);

  font-size: 5rem;
  font-weight: 300;
}

a.btn[title="scroll down"]:hover {
  background-color: var(--accent);
  color: var(--base);
}

/* projects section styling */
#projects {
  padding-top: 0;
}

#projects .gallery {
  display: flex;
}

#projects .gallery-description {
  padding-left: 5rem;
  width: 45%;
}

#projects .gallery-data {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
}

#projects .gallery-heading {
  margin-bottom: 2.5rem;
}

/* hide the mobile descriptions */
#projects .mobile {
  display: none;
  height: 0;
}

/* style projects text */
#projects h3 {
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  font-weight: 900;
  font-size: clamp(3rem, calc(3rem + ((1vw - 0.64rem) * 3.8462)), 4rem);
  line-height: 50%;
}

#projects .gallery-data p {
  margin-block: 1rem;

  font-weight: 600;
  font-size: 1.5rem;
}

#projects .gallery-data p:last-of-type {
  align-self: flex-end;
}

#projects .gallery-pictures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 55%;
}

/* style projects images */
#projects .gallery-pictures .pictures {
  aspect-ratio: 16 / 9;
  position: relative;

  border-radius: 2rem;

  overflow: hidden;

  width: 100%;

  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

#projects .gallery .pictures img {
  position: absolute;

  height: 100%;
}

/* carp and coding page styling */
.timeline > article {
  display: flex;
  flex-direction: column;

  margin-bottom: 3rem;
}

.timeline > article .tl-wrapper {
  display: flex;
}

.timeline h2 {
  margin-top: 0;
  margin-bottom: .5em;
  line-height: 50%;
}

.timeline p {
  margin-block: .5em;
}

.timeline article:nth-of-type(even) .tl-image {
  order: 2;
}

.timeline .tl-image {
  width: 55%;
}

.timeline article .data {
  flex-direction: column;

  padding-left: 3rem;

  width: 45%;
}

.timeline article:nth-of-type(even) .data {
  padding-left: 0;
  padding-right: 3rem;
}

/* typography page styling */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 2rem;

  margin-bottom: 2rem;

  width: 100%;
}

.grid div {
  display: flex;
  flex-direction: column;
}

.grid div picture {
  aspect-ratio: 1 / 1;

  margin-top: 1rem;
}

.grid div picture img {
  height: 100%;
}

/* for larger screens */
@media only screen and (min-width: 90em) {
  /* max size of content is 90rem with 7rem padding-inline */
  section,
  nav,
  body > header,
  footer {
    padding-inline: calc((100vw - 90rem + 7rem) / 2);
    width: 100%;
  }

  /* scroll down button */
  a.btn[title="scroll down"] {
    right: calc((100vw - 90rem + 7rem) / 2);
  }
}

/* For the mobile site */
@media only screen and (max-width: 64em) {
  section,
  nav,
  body > header,
  footer {
    padding-inline: 3rem;
  }

  #trailer {
    display: none;
  }

  /* mobile navbar */
  .burger {
    position: fixed;
    top: 1rem;
    right: 1rem;

    z-index: 5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 3rem;
    height: 3rem;

    border-radius: 1.5rem;
  }

  .burger .burger-line {
    display: block;

    height: 0.25rem;
    width: 75%;

    border-radius: 0.125rem;

    margin-top: 0.25rem;

    background-color: var(--base);
  }

  .burger .burger-line:first-of-type {
    margin-top: 0;
  }

  /* mobile nav bar */
  nav {
    position: fixed;
    left: 101%;

    width: 100vw;
    height: 100vh;

    visibility: hidden;

    flex-direction: column;
    justify-content: center;
    align-items: start;

    background-color: var(--accent);

    padding: 0;

    transition: all 0.5s;
  }

  nav.open {
    visibility: initial;

    left: 0;
  }

  nav > ul {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    width: 100%;

    list-style-type: none;
  }

  nav li {
    padding-block: .5em;
    margin-left: 0;

    border-bottom: .1rem var(--base) solid;
  }

  nav li a {
    color: var(--base);
    font-weight: 900;
    font-size: clamp(5rem, calc(5rem + ((1vw - 0.225rem) * 1.4815)), 6rem);

    line-height: 80%;

    text-transform: uppercase;
    word-wrap: break-word;
  }

  nav li a:visited {
    color: var(--base);
  }

  nav li a:hover {
    color: var(--text);
  }

  nav li a[aria-current="page"] {
    color: var(--text);
  }

  /* footer styling */
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer p {
    margin: 0;
    text-align: center;
  }

  /* homepage styling */

  /* grid is changed to flexbox */
  header#hero .text-grid {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-inline: auto;
    padding: 0.5rem 3rem;

    height: 60%;
  }

  /* h1 is made visible */
  header#hero h1 {
    margin: 0;

    color: var(--text);
    line-height: 1;

    font-size: clamp(2rem, calc(2rem + ((1vw - 0.32rem) * 15.625)), 7rem);
    font-weight: 900;

    filter: drop-shadow(0 0 1rem black);
  }

  header#hero .text-grid p {
    font-size: clamp(1.5rem, calc(1.5rem + ((1vw - 0.32rem) * 7.8125)), 4rem);
  }

  /* grid text is hidden */
  header#hero .text-grid p[aria-label="graphic and web design studio"] {
    display: none;
  }

  header#hero .text-grid a.btn {
    position: absolute;
    bottom: 2rem;

    align-self: center;

    padding-block: 0.25rem 0.5rem;

    height: auto;
    width: auto;

    font-size: 1.25rem;
  }

  header#hero picture {
    padding: inherit;

    width: 100%;
    height: 60%;
  }

  header#hero picture img {
    height: 100%;
  }

  /* projects section */
  #projects .gallery-data,
  #projects .gallery-description {
    display: none;
  }

  /* show the mobile descriptions */
  #projects .mobile {
    height: auto;
  }

  #projects .gallery-data.mobile {
    display: flex;
    margin-bottom: 2rem;
  }

  /* show the mobile headings */
  #projects h3.mobile {
    display: initial;

    font-size: clamp(3rem, calc(3rem + ((1vw - 0.32rem) * 3.125)), 4rem);
  }

  #projects .gallery-heading {
    margin-bottom: 2rem;
  }

  #projects .gallery-pictures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
  }

  #projects .gallery-pictures .pictures {
    overflow: initial;

    box-shadow: none;
  }

  #projects .gallery .pictures img {
    position: static;

    margin-top: 2rem;

    aspect-ratio: 16 / 9;

    height: auto;
  }

  /* carp and coding page styling */
  .timeline > article {
    flex-direction: column;
  }

  .timeline > article .tl-wrapper {
    flex-direction: column;
  }

  .timeline article:nth-of-type(even) .tl-image {
    order: initial;
  }

  .timeline h2 {
    margin-top: 2rem;
  }

  .timeline .tl-image {
    margin-inline: auto;

    width: 90%;
  }

  .timeline article .data, .timeline article:nth-of-type(even) .data {
    padding: 0;

    width: 100%;
  }

  /* typography grid */
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
}


/* References
  Web Semantics UK (2023) Fluid-responsive font-size calculator. Available from: https://websemantics.uk/tools/responsive-font-calculator/ [Accessed 12 December 2023].
*/