/* Darker Grotesque font import */
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;600;900&display=swap");

/* Declare colour variables */
:root {
  --base: #191c24;
  --accent: #189543;
  --carp: #d8af5e;
  --typography: #c279ef;
  --coding: #41afc7;
  --text: #d9d9d9;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--base);

  font-family: "Darker Grotesque", Verdana, Arial, sans-serif;
  font-weight: 600;
  color: var(--text);

  /* prevent overflow from the mouse trailer */
  overflow-x: hidden;
}

body#carp {
  --accent: var(--carp);
}

body#typography {
  --accent: var(--typography);
}

body#coding {
  --accent: var(--coding);
}

.accent {
  color: var(--accent);
}

.carp {
  color: var(--carp);
}

.typography {
  color: var(--typography);
}

.coding {
  color: var(--coding);
}

/* style the mouse trailer */
#trailer {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;

  width: 0.5rem;
  height: 0.5rem;

  border-radius: 0.25rem;

  background-color: var(--accent);
  color: var(--base);

  font-size: 0;
  line-height: 0;

  z-index: 5;

  transition: all 0.75s, transform 0.15s, font-size 0.25s;
}

#trailer.expanded {
  width: 5rem;
  height: 5rem;

  font-size: 1.25rem;

  border-radius: 2.5rem;
}

a {
  color: var(--text);
  transition: all 0.5s;
}

a:hover {
  filter: drop-shadow(0 0 0.5rem var(--accent));
}

/* pad common areas of website */
section,
nav,
body > header,
footer {
  padding-inline: 7rem;
  width: 100%;
}

section {
  padding-block: 7rem;
}

/* basic button styling */
button,
*[role="button"],
a.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  background-color: var(--accent);
  color: var(--base);
  text-decoration: none;

  transition: all 0.5s;
}

button:hover,
a.btn:hover {
  filter: brightness(200%);
}

/* lightbox image modal styling */
.modal {
  position: fixed;

  width: 100vw;
  height: 100vh;

  z-index: 100;

  display: none;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
}

.modal[open = "true"] {
  display: flex;
}

.modal img {
  max-width: 80vw;
  height: auto;
}

/* desktop navbar */
.burger {
  display: none;
}

nav {
  position: fixed;
  top: 0;
  z-index: 3;

  display: flex;
  justify-content: end;

  background-color: var(--base);

  font-size: 1.5rem;
}

nav > ul {
  display: flex;

  list-style-type: none;
}

nav li {
  margin-left: 3.25em;
}

nav li a {
  text-decoration: none;
}

nav li a:visited {
  color: var(--text);
}

nav li a[aria-current="page"] {
  color: var(--accent);
}

nav li a[aria-current="page"]:hover {
  filter: none;
}

/* footer styling */
footer {
  border-top: 1px var(--text) solid;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-block: 2rem;

    height: auto;
}

footer p:last-of-type {
  font-weight: 300;
}

/* homepage styling */

/* header */
header#hero {
  position: relative;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  height: 100dvh;
  height: 100vh;
}

/* The h1 is hidden from the viewer, but included for the screen-reader in the desktop view */
header#hero h1 {
  font-size: 0;
}

/* header text is placed in a grid */
header#hero .grid {
  display: grid;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
}

header#hero .grid p {
  margin: 0;
  grid-column: 1 / span 12;
  grid-row: 4;

  font-size: 4rem;
  font-weight: 300;
}

header#hero .grid a.btn {
  grid-column: 6 / span 5;
  grid-row: 2;
  align-self: end;

  border-radius: 2rem;

  padding: 1rem 2rem 1.25rem 2rem;
  margin-bottom: 0.5rem;

  font-size: 1.5rem;
  font-weight: 600;
}

header#hero .grid p[aria-label="graphic and web design studio"] {
  display: block;

  font-size: clamp(6.5rem, calc(6.5rem + ((1vw - 0.64rem) * 5.7692)), 8rem);
  font-weight: 900;
  line-height: 92.2%;
}

header#hero .grid p[aria-label="graphic and web design studio"]:nth-of-type(1) {
  grid-column: 1 / span 12;
  grid-row: 1;
}

header#hero .grid p[aria-label="graphic and web design studio"]:nth-of-type(2) {
  grid-column: 2 / span 3;
  grid-row: 2;
}

header#hero .grid p[aria-label="graphic and web design studio"]:nth-of-type(3) {
  grid-column: 3 / span 12;
  grid-row: 3;
}

/* position the hero image */
header#hero picture {
  display: block;

  position: absolute;

  z-index: -1;

  width: 40%;
  max-width: 35rem;
}

header#hero picture img {
  border-radius: 2rem;

  width: 100%;

  object-fit: cover;
  filter: brightness(25%);
}

/* scroll down button */
a.btn[title="scroll down"] {
  position: absolute;

  bottom: 0;
  right: 0;

  width: 7rem;
  height: 7rem;

  border: 0.1rem var(--accent) solid;
  border-radius: 3.5rem;

  background-color: transparent;
  color: var(--accent);

  font-size: 5rem;
  font-weight: 300;
}

a.btn[title="scroll down"]:hover {
  background-color: var(--accent);
  color: var(--base);

  transform: scale(1.5);
}

/* projects section styling */
#projects {
  padding-top: 0;
}

#projects .gallery {
  display: flex;
}

#projects .gallery-description {
  padding-left: 5rem;
  width: 45%;
}

#projects .gallery-data {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
}

/* hide the mobile descriptions */
#projects .mobile {
  display: none;
  height: 0;
}

/* style projects text */
#projects h3 {
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  font-weight: 900;
  font-size: clamp(3rem, calc(3rem + ((1vw - 0.64rem) * 3.8462)), 4rem);
  line-height: 50%;
}

#projects .gallery-data p {
  margin-block: 1rem;

  font-weight: 600;
  font-size: 1.5rem;
}

#projects .gallery-data p:last-of-type {
  align-self: flex-end;
}

#projects .gallery-pictures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 55%;
}

#projects .gallery-heading {
  margin-bottom: 2.5rem;

  font-size: 2.5rem;
  font-weight: 300;
}

/* style projects images */
#projects .gallery-pictures .pictures {
  aspect-ratio: 16 / 9;
  position: relative;

  border-radius: 2rem;

  overflow: hidden;

  width: 100%;

  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

#projects .gallery .pictures img {
  position: absolute;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* for larger screens */
@media only screen and (min-width: 90em) {
  /* max size of content is 90rem with 7rem padding-inline */
  section,
  nav,
  body > header,
  footer {
    padding-inline: calc((100vw - 90rem + 7rem) / 2);
    width: 100%;
  }

  /* scroll down button */
  a.btn[title="scroll down"] {
    right: calc((100vw - 90rem + 7rem) / 2);
  }
}

/* For the mobile site */
@media only screen and (max-width: 64em) {
  section,
  nav,
  body > header,
  footer {
    padding-inline: 3rem;
  }

  #trailer {
    display: none;
  }

  /* navbar styling */
  .burger {
    position: fixed;
    top: 1rem;
    right: 1rem;

    z-index: 5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 3rem;
    height: 3rem;

    border-radius: 1.5rem;
  }

  .burger .burger-line {
    display: block;

    height: .25rem;
    width: 75%;

    border-radius: .125rem;

    margin-top: .25rem;

    background-color: var(--base);
  }

  .burger .burger-line:first-of-type {
    margin-top: 0;
  }

  nav {
    position: fixed;
    left: 101%;

    display: none;

    width: 100vw;
    height: 100vh;

    flex-direction: column;
    justify-content: center;
    align-items: start;
  
    background-color: var(--accent);
  
    padding: 0;

    transition: left .5s;
  }

  nav.open {
    display: flex;
    left: 0;
  }
  
  nav > ul {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
  
    list-style-type: none;
  }
  
  nav li {
    margin-left: 0;
  }
  
  nav li a {
    color: var(--base);
    font-weight: 900;
    font-size: 6rem;

    line-height: 80%;

    text-transform: uppercase;
    word-wrap: break-word;
  }
  
  nav li a:visited {
    color: var(--base);
  }

  nav li a:hover {
    color: var(--text);
  }
  
  nav li a[aria-current="page"] {
    color: var(--text);
  }

  /* footer styling */
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer p {
    margin: 0;
  }

  /* homepage styling */

  /* grid is changed to flexbox */
  header#hero .grid {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-inline: auto;
    padding: 0.5rem 3rem;

    height: 60%;
  }

  /* h1 is made visible */
  header#hero h1 {
    margin: 0;

    font-size: clamp(2rem, calc(2rem + ((1vw - 0.32rem) * 15.625)), 7rem);
    font-weight: 900;
  }

  header#hero .grid p {
    font-size: clamp(1.5rem, calc(1.5rem + ((1vw - 0.32rem) * 7.8125)), 4rem);
  }

  /* grid text is hidden */
  header#hero .grid p[aria-label="graphic and web design studio"] {
    display: none;
  }

  header#hero .grid a.btn {
    position: absolute;
    bottom: 3rem;

    align-self: center;

    height: auto;
    width: auto;

    font-size: 1.25rem;
  }

  header#hero picture {
    padding: inherit;

    width: 100%;
    height: 60%;
  }

  header#hero picture img {
    border-radius: 10%;
    height: 100%;
  }

  /* projects section */
  #projects .gallery-data,
  #projects .gallery-description {
    display: none;
  }

  /* show the mobile descriptions */
  #projects .mobile {
    height: auto;
  }

  #projects .gallery-data.mobile {
    display: flex;
    margin-bottom: 2rem;
  }

  /* show the mobile headings */
  #projects h3.mobile {
    display: initial;

    font-size: clamp(3rem, calc(3rem + ((1vw - 0.32rem) * 3.125)), 4rem);
  }

  #projects .gallery-heading {
    margin-bottom: 2rem;
  }

  #projects .gallery-pictures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
  }

  #projects .gallery-pictures .pictures {
    overflow: initial;

    box-shadow: none;
  }

  #projects .gallery .pictures img {
    position: static;

    border-radius: 2rem;

    margin-top: 2rem;

    aspect-ratio: 16 / 9;

    width: 100%;
    height: auto;

    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  }
}
